<?xml version="1.0"?>
<!--
/**
 * Module registration xml file
 *
 * Copyright (c) 2021. 18th DigiTech Team. All rights reserved.
 * @author  18th Digitech <info@18thdigitech.com>
 * @package Eighteentech_WhatsAppChat
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
  <module name="Eighteentech_MultipleCartDelete" setup_version="1.0.0">
    <sequence>
      <module name="Magento_Checkout"/>
    </sequence>
  </module>
</config>
