<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="gallery_index_listing_data_source" xsi:type="string">Commercepundit\Gallery\Model\ResourceModel\Gallery\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Commercepundit\Gallery\Model\ResourceModel\Gallery\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">commercepundit_gallery</argument>
            <argument name="eventPrefix" xsi:type="string">gallery_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">gallery_collection</argument>
            <argument name="resourceModel" xsi:type="string">Commercepundit\Gallery\Model\ResourceModel\Gallery</argument>
        </arguments>
    </type>
    <virtualType name="GalleryGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="GalleryGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Commercepundit\Gallery\Model\ResourceModel\Gallery\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">GalleryGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <preference for="Commercepundit\Gallery\Api\GalleryManagerInterface" type="Commercepundit\Gallery\Model\Api\GalleryCollectionApi"/>        
</config>

