<?xml version="1.0"?>
<!--
/**
*Copyright (c) 2021. 18th DigiTech Team. All rights reserved.
* @author: <mailto:info@18thdigitech.com>
* @package Eighteentech_Searchquery
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Elasticsearch\SearchAdapter\Query\Builder\Match"
                type="Eighteentech\Searchquery\SearchAdapter\Query\Builder\Match" />
</config>
