<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<!-- //checkout_submit_all_after //sales_order_save_after -->
   <!--  <event name="checkout_submit_all_after">
        <observer name="inventory_sales_source_deduction_processor_sales_order_save_after" instance="Eighteentech\Searchquery\Observer\UpdateStock"/>
    </event> -->
</config>
